{% extends 'base.html' %}
{% block content %}
<h2>Carrito de Compras</h2>
<table>
    <tr>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Subtotal</th>
        <th>Acciones</th>
    </tr>
    {% for item in productos %}
    <tr>
        <td>{{ item.producto.nombre }}</td>
        <td>{{ item.cantidad }}</td>
        <td>{{ item.subtotal }}</td>
        <td>
            <a href="{% url 'eliminar_del_carrito' item.producto.id %}">Eliminar</a>
        </td>
    </tr>
    {% endfor %}
</table>
<h3>Total: {{ total }}</h3>
<a href="{% url 'producto_lista' %}">Seguir comprando</a>
{% endblock %}