{% extends "base.html" %} 
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/logonuevo.ico">
    <title>Tienda</title>
    <style>
      .card-img-top {
          width: 100%; 
          height: 250px;
          object-fit: cover;
          margin: 0; 
      }
  
      .card {
          border-radius: 10px; 
          overflow: hidden; 
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }
  </style>
</head>
<body>

  <div class="container py-5">
    <div class="row row-cols-1 row-cols-md-4 g-4">

      <div class="col">
        <div class="card h-100">
            <img src="img/22211.jpg" class="card-img-top">
            <div class="card-body text-center">
                <h5 class="card-title">RADICAL DUDE!</h5>
                <p class="card-text">Poleras, Poleras Manga Corta</p>
                <p class="fw-bold">$14.990</p>
                <a href="#" class="btn btn-success"><img src="{% static 'img/carrito.png' %}" style="width: 25px; height: 25px;">Agregar al carrito</a>
              </div>
        </div>
      </div>
      
      <div class="col">
        <div class="card h-100">
            <img src="img/5.jpg" class="card-img-top">
            <div class="card-body text-center">
                <h5 class="card-title">BYE BYE BYE!</h5>
                <p class="card-text">Polerones</p>
                <p class="fw-bold">$32.990</p>
                <a href="#" class="btn btn-success"><img src="{% static 'img/carrito.png' %}" style="width: 25px; height: 25px;">Agregar al carrito</a>
              </div>
        </div>
      </div>
      
      <div class="col">
        <div class="card h-100">
            <img src="img/11212.jpg" class="card-img-top">
            <div class="card-body text-center">
                <h5 class="card-title">THIS IS THE WAY</h5>
                <p class="card-text">Poleras, Poleras Manga Corta</p>
                <p class="fw-bold">$14.990</p>
                <a href="#" class="btn btn-success"><img src="{% static 'img/carrito.png' %}" style="width: 25px; height: 25px;">Agregar al carrito</a>
              </div>
        </div>
      </div>
      
      <div class="col">
        <div class="card h-100">
            <img src="img/4.jpeg" class="card-img-top">
            <div class="card-body text-center">
                <h5 class="card-title">DRAGON BALL Z</h5>
                <p class="card-text">Poleras, Poleras Manga Corta</p>
                <p class="fw-bold">$14.990</p>
                <a href="#" class="btn btn-success"><img src="{% static 'img/carrito.png' %}" style="width: 25px; height: 25px;">Agregar al carrito</a>
              </div>
        </div>
      </div>

        <div class="col">
            <div class="card h-100">
                <img src="img/1.jpg" class="card-img-top">
                <div class="card-body text-center">
                    <h5 class="card-title">OUTATIME!</h5>
                    <p class="card-text">Poleras, Poleras Manga Corta</p>
                    <p class="fw-bold">$14.990</p>
                    <a href="#" class="btn btn-success"><img src="{% static 'img/carrito.png' %}" style="width: 25px; height: 25px;">Agregar al carrito</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <img src="img/55.jpg" class="card-img-top">
                <div class="card-body text-center">
                    <h5 class="card-title">SNAP DEADPOOL</h5>
                    <p class="card-text">Gorras</p>
                    <p class="fw-bold">$16.990</p>
                    <a href="#" class="btn btn-success"><img src="{% static 'img/carrito.png' %}" style="width: 25px; height: 25px;">Agregar al carrito</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <img src="img/44.jpg" class="card-img-top">
                <div class="card-body text-center">
                    <h5 class="card-title">SNAP TMNT</h5>
                    <p class="card-text">Gorras</p>
                    <p class="fw-bold">$14.990</p>
                    <a href="#" class="btn btn-success"><img src="{% static 'img/carrito.png' %}" style="width: 25px; height: 25px;">Agregar al carrito</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <img src="img/444.jpg" class="card-img-top">
                <div class="card-body text-center">
                    <h5 class="card-title">TAZ KEATON</h5>
                    <p class="card-text">Tazones</p>
                    <p class="fw-bold">$7.000</p>
                    <a href="#" class="btn btn-success"><img src="{% static 'img/carrito.png' %}" style="width: 25px; height: 25px;">Agregar al carrito</a>
                </div>
            </div>
        </div>

        <div class="col">
          <div class="card h-100">
              <img src="img/3242.jpg" class="card-img-top">
              <div class="card-body text-center">
                  <h5 class="card-title">DARKSIDE Hoodie</h5>
                  <p class="card-text">Polerones</p>
                  <p class="fw-bold">$25.990</p>
                  <a href="#" class="btn btn-success"><img src="{% static 'img/carrito.png' %}" style="width: 25px; height: 25px;">Agregar al carrito</a>
                </div>
          </div>
      </div>

      <div class="col">
        <div class="card h-100">
            <img src="img/55342.jpeg">
            <div class="card-body text-center">
                <h5 class="card-title">Gekkō Kamen CENTELLA</h5>
                <p class="card-text">Poleras, Poleras Manga Corta</p>
                <p class="fw-bold">$14.990</p>
                <a href="#" class="btn btn-success"><img src="{% static 'img/carrito.png' %}" style="width: 25px; height: 25px;">Agregar al carrito</a>
              </div>
        </div>
    </div>

    <div class="col">
      <div class="card h-100">
          <img src="img/3.jpg" class="card-img-top">
          <div class="card-body text-center">
              <h5 class="card-title">POLERA BONES</h5>
              <p class="card-text">Poleras, Poleras Manga Corta</p>
              <p class="fw-bold">$14.990</p>
              <a href="#" class="btn btn-success"><img src="{% static 'img/carrito.png' %}" style="width: 25px; height: 25px;">Agregar al carrito</a>
            </div>
      </div>
  </div>

  <div class="col">
    <div class="card h-100">
        <img src="img/11.jpg" class="card-img-top">
        <div class="card-body text-center">
            <h5 class="card-title">TAZ VENGADOR</h5>
            <p class="card-text">Tazones</p>
            <p class="fw-bold">$7.000</p>
            <a href="#" class="btn btn-success"><img src="{% static 'img/carrito.png' %}" style="width: 25px; height: 25px;">Agregar al carrito</a>
          </div>
    </div>
</div>

<div class="col">
  <div class="card h-100">
      <img src="img/4234.jpg" class="card-img-top">
      <div class="card-body text-center">
          <h5 class="card-title">TAZ DOCSTRANGE</h5>
          <p class="card-text">Tazones</p>
          <p class="fw-bold">$7.000</p>
          <a href="#" class="btn btn-success"><img src="{% static 'img/carrito.png' %}" style="width: 25px; height: 25px;">Agregar al carrito</a>
        </div>
  </div>
</div>

<div class="col">
  <div class="card h-100">
      <img src="img/1232.jpg" class="card-img-top">
      <div class="card-body text-center">
          <h5 class="card-title">POLERA X-MEN</h5>
          <p class="card-text">Poleras, Poleras Manga Corta</p>
          <p class="fw-bold">$14.990</p>
          <a href="#" class="btn btn-success"><img src="{% static 'img/carrito.png' %}" style="width: 25px; height: 25px;">Agregar al carrito</a>
        </div>
  </div>
</div>

<div class="col">
  <div class="card h-100">
      <img src="img/534.jpg" class="card-img-top">
      <div class="card-body text-center">
          <h5 class="card-title">PRISIONEROS</h5>
          <p class="card-text">Poleras, Poleras Manga Corta</p>
          <p class="fw-bold">$14.990</p>
          <a href="#" class="btn btn-success"><img src="{% static 'img/carrito.png' %}" style="width: 25px; height: 25px;">Agregar al carrito</a>
        </div>
  </div>
</div>

<div class="col">
  <div class="card h-100">
      <img src="img/244234.webp" class="card-img-top">
      <div class="card-body text-center">
          <h5 class="card-title">THE VENGEANCE</h5>
          <p class="card-text">Poleras, Poleras Manga Corta</p>
          <p class="fw-bold">$14.990</p>
          <a href="#" class="btn btn-success"><img src="{% static 'img/carrito.png' %}" style="width: 25px; height: 25px;">Agregar al carrito</a>
        </div>
  </div>
</div>

<div class="col">
  <div class="card h-100">
      <img src="img/77.jpg" class="card-img-top">
      <div class="card-body text-center">
          <h5 class="card-title">PIZZA TIME!</h5>
          <p class="card-text">Gorras</p>
          <p class="fw-bold">$14.990</p>
          <a href="#" class="btn btn-success"><img src="{% static 'img/carrito.png' %}" style="width: 25px; height: 25px;">Agregar al carrito</a>
        </div>
  </div>
</div>

<div class="col">
  <div class="card h-100">
      <img src="img/443.jpg" class="card-img-top">
      <div class="card-body text-center">
          <h5 class="card-title">SPIDERS</h5>
          <p class="card-text">Poleras, Poleras Manga Corta</p>
          <p class="fw-bold">$14.990</p>
          <a href="#" class="btn btn-success"><img src="{% static 'img/carrito.png' %}" style="width: 25px; height: 25px;">Agregar al carrito</a>
        </div>
  </div>
</div>


<div class="col">
  <div class="card h-100">
      <img src="img/666.jpg" class="card-img-top">
      <div class="card-body text-center">
          <h5 class="card-title">TAZ ROBOTECH</h5>
          <p class="card-text">Tazones</p>
          <p class="fw-bold">$7.000</p>
          <a href="#" class="btn btn-success"><img src="{% static 'img/carrito.png' %}" style="width: 25px; height: 25px;">Agregar al carrito</a>
        </div>
  </div>
</div>

<div class="col">
  <div class="card h-100">
      <img src="img/2324.jpg" class="card-img-top">
      <div class="card-body text-center">
          <h5 class="card-title">DEADPOOL WALLET</h5>
          <p class="card-text">Poleras, Poleras Manga Corta</p>
          <p class="fw-bold">$14.990</p>
          <a href="#" class="btn btn-success"><img src="{% static 'img/carrito.png' %}" style="width: 25px; height: 25px;">Agregar al carrito</a>
        </div>
  </div>
</div>


<div class="col">
  <div class="card h-100">
      <img src="img/7.jpg" class="card-img-top">
      <div class="card-body text-center">
          <h5 class="card-title">NEO TOKYO</h5>
          <p class="card-text">Polerones</p>
          <p class="fw-bold">$22.990</p>
          <a href="#" class="btn btn-success"><img src="{% static 'img/carrito.png' %}" style="width: 25px; height: 25px;">Agregar al carrito</a>
        </div>
  </div>
</div>

<div class="col">
  <div class="card h-100">
      <img src="img/2.jpg" class="card-img-top">
      <div class="card-body text-center">
          <h5 class="card-title">READY FREDDIE?</h5>
          <p class="card-text">Poleras, Poleras Manga Corta</p>
          <p class="fw-bold">$14.990</p>
          <a href="#" class="btn btn-success"><img src="{% static 'img/carrito.png' %}" style="width: 25px; height: 25px;">Agregar al carrito</a>
        </div>
  </div>
</div>


<div class="col">
  <div class="card h-100">
      <img src="img/88.jpg" class="card-img-top">
      <div class="card-body text-center">
          <h5 class="card-title">SIMBIOTE SNAP</h5>
          <p class="card-text">Gorras</p>
          <p class="fw-bold">$14.990</p>
          <a href="#" class="btn btn-success"><img src="{% static 'img/carrito.png' %}" style="width: 25px; height: 25px;">Agregar al carrito</a>
        </div>
  </div>
</div>

<div class="col">
  <div class="card h-100">
      <img src="img/2534234.jpeg" class="card-img-top">
      <div class="card-body text-center">
          <h5 class="card-title">CRIME PRINCE</h5>
          <p class="card-text">Poleras, Poleras Manga Corta</p>
          <p class="fw-bold">$14.990</p>
          <a href="#" class="btn btn-success"><img src="{% static 'img/carrito.png' %}" style="width: 25px; height: 25px;">Agregar al carrito</a>
        </div>
  </div>
</div>

<div class="col">
  <div class="card h-100">
      <img src="img/333.jpg" class="card-img-top">
      <div class="card-body text-center">
          <h5 class="card-title">TAZ SPIDERMAN</h5>
          <p class="card-text">Tazones</p>
          <p class="fw-bold">$7.000</p>
          <a href="#" class="btn btn-success"><img src="{% static 'img/carrito.png' %}" style="width: 25px; height: 25px;">Agregar al carrito</a>
        </div>
  </div>
</div>

<div class="col">
  <div class="card h-100">
      <img src="img/6.jpg" class="card-img-top">
      <div class="card-body text-center">
          <h5 class="card-title">DETROIT ROCK CITY</h5>
          <p class="card-text">Polerones</p>
          <p class="fw-bold">$22.990</p>
          <a href="#" class="btn btn-success"><img src="{% static 'img/carrito.png' %}" style="width: 25px; height: 25px;">Agregar al carrito</a>
        </div>
  </div>
</div>

<div class="col">
  <div class="card h-100">
      <img src="img/222.jpg" class="card-img-top" alt="Polera Bones">
      <div class="card-body text-center">
          <h5 class="card-title">TAZ WOLVERINE</h5>
          <p class="card-text">Tazones</p>
          <p class="fw-bold">$7.000</p>
          <a href="#" class="btn btn-success"><img src="{% static 'img/carrito.png' %}" style="width: 25px; height: 25px;">Agregar al carrito</a>
        </div>
  </div>
</div>

<div class="col">
  <div class="card h-100">
      <img src="img/33456.jpg" class="card-img-top">
      <div class="card-body text-center">
          <h5 class="card-title">ONE PIECE</h5>
          <p class="card-text">Polerones</p>
          <p class="fw-bold">$22.990</p>
          <a href="#" class="btn btn-success"><img src="{% static 'img/carrito.png' %}" style="width: 25px; height: 25px;">Agregar al carrito</a>
        </div>
  </div>
</div>


    </div>

</div>
  
</body>
</html>
{% endblock %}